<div class="d-flex flex-column app-shadow rounded rounded-3">
  <button
    class="nav-link p-4 py-3 app-collapse-button-end"
    (click)="toggleCollapse()"
    [attr.aria-expanded]="!collapsed"
    [disabled]="loading"
  >
    <div class="d-flex justify-content-between align-items-center gap-4">
      <div class="flex-fill">
        <ng-content select="[appCollapseHeader]"></ng-content>
      </div>
      <div [style]="loading ? 'visibility: hidden' : ''">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="var(--bs-dark-rgb)"
          class="bi bi-chevron-up app-collapse-chevron"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"
          />
        </svg>
      </div>
    </div>
  </button>
  <div [ngbCollapse]="collapsed">
    <ng-content select="[appCollapseBody]"></ng-content>
  </div>
</div>
